<link rel="stylesheet" href="/css/comment.css">
<li>
    <p>
        <small class="user-name"><a href="/users/profile/<%=comment.user.id%>"><i class="fas fa-user-circle"></i> <%=comment.user.name%></a></small>
        <% if(locals.user && locals.user.id == comment.user.id){ %>
            <small class="delete"><a href="/comment/destroy/<%=comment.id%>"><i class="fa-solid fa-trash-alt"></i></a></small>
            <%}%>
            <br>
        <%=comment.content%>
    </p></li>